<div class="container">
  <h1>Hotels</h1>
  <a routerLink="/hotel-editor">
    <button type="button" class="btn btn-success" style="float: right"> Add new Hotel</button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotels ">
      <td class="iter"></td>
      <td style="text-align: left">{{hotel.name}}</td>
      <td>{{hotel.cityId.name}}</td>
      <td>
        <a href="hotel-editor/{{hotel.id}}" role="button"><button type="button" class="btn btn-primary">Modify</button></a>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(hotel.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


