
<div class="container">
  <a routerLink="/hotel-editor"><button class="btn btn-primary"> Add new Hotel</button></a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let hotel of hotels ">
      <td>{{hotel.name}}</td>
      <td>{{hotel.cityId.name}}</td>
      <td>
        <a href="hotel-editor/{{hotel.id}}" role="button">Modify</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
