
.container {
  background-color: transparent;
  margin-top: 3%;
  counter-reset: my-sec-counter;
}

.table {
  background-color: rgba(255, 255, 255, 0.81);
  text-align: left;
}


.iter::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter 1;
  content: counter(my-sec-counter) ". ";
}
