.container{
  background-color: rgba(255, 255, 255, 0.73);
  margin-top: 3%;
  font-family: "Arial Black", Gadget, sans-serif;
  background-image: url("~src/app/images/onetrip.png"), url("~src/app/images/11.png");
  background-position: left -1% bottom -1%, right -1% top -1%;
  background-size: 70%, 40%;
  background-repeat: no-repeat;
}
.card-title{
  font-size: 250%;
  padding: 3%;
}
.trips-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 400px;
  background-size: 300px;
  align-items: center;
  align-content: center;

}
.card--content{
  background-color: rgba(255, 255, 255, 0.87);
  width: 280px;
  margin: 0;
  padding: 10px;
}

.btn{
  background-color: #44598c;
  color: white;
}
