<div class="container">
  <h1>Cities</h1>
  <a routerLink="/city-editor">
    <button type="button" class="btn btn-success" style="float: right"> Add new City</button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let city of cities ">
      <td class="iter"></td>
      <td>{{city.name}}</td>
      <td>{{city.countryId.name}}</td>
      <td>
        <a href="city-editor/{{city.id}}" role="button"><button type="button" class="btn btn-primary">Modify</button></a>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(city.id)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
