<div class="container">
  <div class="destinations">
    <h1 class="card-title">Destinations</h1>
    <table width="100%" border="1">
      <tr class="continents">
        <td class="europe" height="150" width="300"><a routerLink="/trips-by-continent/Europe">Europe</a></td>
        <td class="asia" height="150" width="300"><a routerLink="/trips-by-continent/Asia">Asia</a></td>
        <td class="australia" height="150" width="300"><a routerLink="/trips-by-continent/Australia">Australia</a></td>
        <td class="samerica" height="150" width="300"><a routerLink="/trips-by-continent/South America">South <br>America</a></td>
        <td class="namerica" height="150" width="300"><a routerLink="/trips-by-continent/North America">North <br>America</a></td>
        <td class="africa" height="150" width="300"><a routerLink="/trips-by-continent/Africa}">Africa</a></td>
      </tr>
    </table>
  </div>
</div>
