.container {
  margin-top: 2%;
  font-family: "Arial Black", Gadget, sans-serif;
}

.image {
  background-image: url("~src/app/destinations/images/map.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left 50% top 30%;
  padding: 10%;
}

.img2 {
  background-image: url("~src/app/destinations/images/man.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left 50% top 30%;
  padding: 10%;
}

.card-title {
  font-size: 250%;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #5c5cd6;
  font-weight: bold;
}

.europe {
  background-image: url("~src/app/destinations/images/eiffel-tower.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.asia {
  background-image: url("images/asia.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.australia {
  background-image: url("images/australia.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.samerica {
  background-image: url("~src/app/destinations/images/samerica.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.namerica {
  background-image: url("~src/app/destinations/images/statue-of-liberty.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.africa {
  background-image: url("images/africa.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
}

.continents a {
  color: black;
  text-decoration: none;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 20px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 140px;
  padding: 3%;
  border-radius: 50%;
  background-color: white;
  background-size: 300px;
  align-items: center;
  align-content: center;
}

.img {
  width: 60px;
  height: 60px;
}

.caption {
  display: block;
}

.item a {
  color: black;
  text-decoration: none;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 15px;
}




