<!--The content below is only a placeholder and can be replaced.-->
<div class="menu">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/country-list">Country-list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/airport-list">Airport-list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/city-list">City-list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hotel-list">Hotel-list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hotel-editor">Editor</a>
    </li>
  </ul>
  <div style="text-align:center">
    <router-outlet></router-outlet>
  </div>
</div>



