.menu{
  width: 100%;
  overflow: auto;
  background-image: url("~src/app/images/TravellingTips_TOPBANNER.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: auto;
}
.menu a {
  float: left;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-family: "Bookman Old Style";
  font-size: 20px;
  width: fit-content;
  text-align: center;

}
.menu a:hover{
  background-color: rgba(138, 188, 199, 0.56);
}


