.container{
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  height: fit-content;

}
.top {
  background-image: url("img/top.png");
  background-size: 85%;
  background-repeat: no-repeat;
  padding: 20%;
  margin-left: 50%;
}
.text{
  margin-left: -50%;
  margin-top: -30%;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 62px;
  color: #5c5cd6;
  font-weight: bold;
}
.trips{
  margin-top: -1%;
  background-image: url("~src/app/images/2.png"),url("~src/app/images/2.png"),url("~src/app/images/2.png");
  background-position: left 2% top 3%, right 2% top 30%, left 2% top 60%;
  background-size: 20%;
  background-repeat: no-repeat;
}
.trips-container{
  font-family: "Arial Black", Gadget, sans-serif;
}

.form-inline {
  background-size: cover;
  width: 100%;
  background-color: rgba(92, 92, 214, 0.62);
  margin-top: 12%;
  padding: 2%;
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: left;
}
.form input{
  width: 70%;
}
.card {
  background-image: url("~src/app/images/backgr.jpg");
  background-size: 30%;
  width: 90%;
  min-height: 180px;
  height: 350px;
  overflow-x: auto;
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
}
.card--content {
  background-color: rgba(189, 220, 227, 0.8);
  width: 300px;
  margin: 0;
  padding: 10px;
}

.card::-webkit-scrollbar {
  display: none;
}
.card-title{
  font-size: 250%;
  margin-top: -2%;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #5c5cd6;
  font-weight: bold;

}
.img1{
  background-image: url("~src/app/images/003.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left 50% top 30%;
  padding: 10%;
}
.img2{
  background-image: url("~src/app/images/чувак.png");
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: left 50% top 30%;
  padding: 10%;
}
.img3{
  background-image: url("~src/app/images/02.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left 50% top 30%;
  padding: 10%;
}
.btn{
  background-color: #44598c;
  color: white;
}






