

<div class="container">
  <h1>Airports</h1>
  <a routerLink="/airport-editor">
    <button type="button" class="btn btn-success" style="float: right"> Add new Airport</button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let airport of airports ">
      <td class="iter"></td>
      <td>{{airport.name}}</td>
      <td>{{airport.cityId.name}}</td>
      <td>
        <a href="airport-editor/{{airport.id}}" role="button"><button type="button" class="btn btn-primary">Modify</button></a>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(airport.id)">Delete</button>
      </td>
    </tr>


    </tbody>
  </table>
</div>
